<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- memcached初始化 -->
	<bean id="builder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
		<constructor-arg>
			<bean class="net.rubyeye.xmemcached.utils.AddrUtil"
				factory-method="getAddresses">
				<constructor-arg value="192.168.113.105:11211 121.40.161.96:11211" />
			</bean>
		</constructor-arg>
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator" />
		</property>
	</bean>
	<bean id="memcachedClient" class="net.rubyeye.xmemcached.MemcachedClient"
		factory-bean="builder" factory-method="build" destroy-method="shutdown" />
	<bean id="memcachedHelper" class="org.bond.xmemcached.XMemcachedHelper">
		<property name="memcachedClient" ref="memcachedClient" />
		<property name="memcachedOpen" value="true" />
	</bean>
</beans>